* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #262626;
    font-family: "Gilroy", sans-serif;
  }
  
  .form-container {
    max-width: 500px;
    margin: 10vh auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 2px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #fff;
  }
  
  input[type="text"],
  input[type="file"] {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
  }
  
  input[type="text"]:focus,
  input[type="file"]:focus {
    outline: none;
    background-color: #444;
  }
  
  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #0fa131;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #10dc40;
  }
  